.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li button {
    display: block;
    background: none;
    border: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .navbar li button:hover {
    background-color: #111;
  }
  